/* ALL ELEMENTS STYLE */

:root {
    --primary-color: #F18805; 
    --secondary-color: #0E1428;
    --tertiary-color: #D95D39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLE */
body {
    color: var(--secondary-color);
    font-family: "Josefin Sans", sans-serif;
}

/* HEADER STYLE */
header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky; 
    top: 10;
}

header h1 {
    padding: 30px 30px;
    font-weight: bold;
    font-size: 56px;
    color: var(--primary-color);
    margin: 10px;
    align-items: center;
    border-right: 4px solid var(--tertiary-color);
}

header a {
    margin: 25px 15px;
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 50px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 25px 30px;
    font-weight: bold;
    font-size: 2vw;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: whitesmoke;
    border-radius: 15px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin: 5px 15%;
    padding: 25px;
    border-bottom: 4px solid var(--tertiary-color);
}

.section-title {
    width: 35%;
    text-align: left;
}

.section-title h2 {
    border-right: 4px solid var(--tertiary-color);
    border-bottom: none;
    margin: 0;
}

/* ABOUT ME SECTION STYLE */
.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.headshot {
    padding: 25px; 
    width: 40%;
    flex: 0 2 350px; 
}

.headshot img {
    max-width: 100%;
}

.profile-text {
    width: 60%;
    display: inline-block;
    flex: 2 60%;
}

.profile-text p {
    font-size: 20px;
    padding: 25px;
}

/* MY WORK SECTION STYLE */
.projects {
    background-color: #F0A202;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* CONTACT ME STYLE */
.contact {
    display: flex;
    flex-wrap: wrap;
}

  /* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1086px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      border-bottom: 4px solid var(--tertiary-color);
      border-right: none;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
}