/* ALL ELEMENTS STYLE */

:root {
    --primary-color: #F18805; 
    --secondary-color: #0E1428;
    --tertiary-color: #D95D39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLE */
body {
    color: var(--secondary-color);
    font-family: "Josefin Sans", sans-serif;
}

h2 {

    text-align: center;
    font-weight: bold;
    font-size: 48px;
    padding: 25px 0;
    margin: 10px;
    border-bottom: 4px solid var(--tertiary-color);
}

.section-title {
    width: 35%;
    text-align: left;
    border-bottom: none;
    margin: 10px 0;
}

/* HEADER STYLE */
header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky; 
    top: 10;
}

header h1 {
    padding: 30px 30px;
    font-weight: bold;
    font-size: 56px;
    color: var(--primary-color);
    margin: 10px;
    text-align: center;
}

header a {
    margin: 25px 15px;
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 50px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 15px;
    font-weight: bold;
    font-size: 2vw;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: whitesmoke;
    border-radius: 15px;
}


/* ABOUT ME SECTION STYLE */
.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.headshot {
    padding: 25px; 
    width: 50%;
    flex: 0 2 350px; 
}

.headshot img {
    max-width: 100%;
}

.profile-text {
    width: 50%;
    display: inline-block;
    flex: 2 60%;    
}

.profile-text p {
    font-size: 20px;
    padding: 25px;
    text-align: center;
}

/* MY WORK SECTION STYLE */
.projects {
    background-color: #f0a202;
    display: flex;
    justify-content: space-between;
}

.project-list {
    width: 65%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    position: relative;
    display: flex;
}

.project-title {
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: var(--secondary-color);
    color: whitesmoke;
    border-bottom: 2px solid var(--tertiary-color);
    padding: 10px 50px;
    margin: 5px;
}

.project img {
    object-fit: contain;
    padding: 25px;
    width: 100%;
    opacity: 0.5;
}

.project img:hover {
    opacity: 1;
}

.main-project {
    flex: 2 0 100%;
}


.secondary-projects {
    display: flex;
}

.secondary-projects .project {
    flex: 0 2 50%;

}

.secondary-projects .project img {
    object-fit: scale-down;
}


/* CONTACT ME STYLE */
.contact {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    font-size: 28px;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-info div {
    padding: 20px;
}

.contact-info a {
    text-decoration: none;
    padding: 10px;
    color: var(--secondary-color);
    font-weight: bold;
}

.contact-info a:hover {
    background-color: var(--tertiary-color);
    color: whitesmoke;
    border-radius: 15px;
}

/* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1024px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      border-bottom: 4px solid var(--tertiary-color);
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }

    .contact {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact h2 {
        margin: 0;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    h2 {
        font-size: 36px;
    }
    .projects {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .project img {
        padding: 10px;
    }

    .project-title h3 {
        font-size: 16px;
        bottom:10px;
        left:5px;
    }
   
    .contact-info {
        flex-direction: column;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    header nav { 
        margin: 0;
    }
    header nav ul {
        display: inline-block;
        text-align: center;
    }

    header nav ul li {
        margin: 5px;
        padding: 5px 0 15px 0;
    }

    .secondary-projects {
        flex-direction: column;
    }
    
}